@font-face {
    font-family: 'LincolnFont';
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Reg-webfont.eot');
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Reg-webfont.woff') format('woff'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Reg-webfont.ttf') format('truetype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Reg-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnFont';
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Light-webfont.eot');
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Light-webfont.woff') format('woff'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Light-webfont.ttf') format('truetype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: 300; /* Light weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnFont';
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Sbold-webfont.eot');
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Sbold-webfont.woff') format('woff'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Sbold-webfont.ttf') format('truetype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Sbold-webfont.svg#ProximaNova-Sbold') format('svg');
    font-weight: 600; /* Semi-bold weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnFont';
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Bold-webfont.eot');
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Bold-webfont.woff') format('woff'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Bold-webfont.ttf') format('truetype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/ProximaNova/ProximaNova-Bold-webfont.svg#ProximaNovaRgBold') format('svg');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnSerif';
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/lincolnmillerb-semibold-webfont.eot');
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/lincolnmillerb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/lincolnmillerb-semibold-webfont.woff') format('woff'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/lincolnmillerb-semibold-webfont.ttf') format('truetype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/lincolnmillerb-semibold-webfont.svg#lincolnmillerbsemibold') format('svg');
    font-weight: 600; /* Semi-bold weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnSerif';
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/lincolnmillerb-lightitalic-webfont.eot');
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/lincolnmillerb-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/lincolnmillerb-lightitalic-webfont.woff') format('woff'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/lincolnmillerb-lightitalic-webfont.ttf') format('truetype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/lincolnmillerb-lightitalic-webfont.svg#lincolnmillerblightitalic') format('svg');
    font-weight: 300; /* Light weight */
    font-style: italic;
}

@font-face {
    font-family: 'LincolnSerif';
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Light.eot');
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Light.eot?#iefix') format('embedded-opentype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Light.woff') format('woff'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Light.ttf') format('truetype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Light.svg#lincolnmillerblight') format('svg');
    font-weight: 300; /* Light weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnSerif';
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Roman.eot');
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Roman.eot?#iefix') format('embedded-opentype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Roman.woff') format('woff'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Roman.ttf') format('truetype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Roman.svg#lincolnmillerbroman') format('svg');
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

@font-face {
    font-family: 'LincolnSerif';
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Black.eot');
    src: url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Black.eot?#iefix') format('embedded-opentype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Black.woff') format('woff'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Black.ttf') format('truetype'),
    url('//www.lincoln.com/cmslibs/etc/designs/common/skin/lincoln/fonts/LincolnMiller/LincolnMillerBWGL-Black.svg#lincolnmillerbblack') format('svg');
    font-weight: 900; /* Black weight */
    font-style: normal;
}
